* {
    box-sizing: border-box;    
    padding: 0px;
    background-color: black;
    padding: 15px ;
  }

  .covid{
    width: 75vw;
    height: 50px;
    color: black;
    background-color: #d4a373;
    border : solid black 2px;
    border-radius: 5rem;
    border: 3px solid black;
    position: relative;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    transition: transform .4s;
 

}

@keyframes color {
    0%   {background-color: #d4a373;}
    100% {background-color: #fefae0;}
  }
  

.covid:hover{
    animation-name: color;
    animation-duration: 1s;
    color: black;
    font-weight: bold;
    transform: scale(1.2); 
}


  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }


  footer {
    transition: transform .1s ease-in-out;
    background-color: deepskyblue;
    border-radius: 5px;
    text-align: center;
    bottom: 50px;
    width: 80vw;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65vh;
}

footer:hover{
  animation-name: footcolor;
  animation-duration: 2s;
  color: black;
  font-weight: bold;
  transform: scale(1.2); 
}


@keyframes footcolor {
  0%   {background-color: deepskyblue;}
  100% {background-color: #ffc8dd;}
}